:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
  }
  
  
  /* {outline: 1px solid darkred;}/
  
  .html,
  body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /background-color: black;/
    padding: 0%;
    margin: 0%;
  }
  
  /*header, section{
      width: 960px;
      margin: 0 auto;
  }
  
  
  header {
      display: flex;
  }
  
  section {
      display: flex;
  }*/

  body{
    background-color: var(--nord2);
  }
  
  .header{
      width: auto;
      height: auto;
  }

  #DISENO{
    border-style: double;
    border-color: yellowgreen;
  }
  
  #seccionEncabezado {
    display: flex;
    width: auto;
    height: auto;
    padding: 3%;
    margin-left: 200px;
  }
  
  #seccionBody {
    display: flex;
    width: auto;
    height: auto;
  }
  
  #seccionINFO {
    /*margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 20px;
      outline: 2px solid darkblue;
      */
    background-color: var(--nord10);
    /*text-size-adjust: auto;*/
    width: 400px;
    height: 340px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    border-style: solid;
    border-color: var(--nord14);
    
  }
  
  h1 {
    text-indent: 10px;
  }
  
  h2 {
    text-indent: 10px;
  }
  
  #seccionLan {
    background-color: var(--nord10);
    width: 190px;
    height: 190px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin-top: 20px;
    margin-left: 30px;
    position: relative;
    left: 110px;
    top: 70px;

    border-style: dotted;
    border-color: var(--nord14);
  }
  
  #t2 {
    text-align: center;
    text-align: left;
  }
  
  #t3 {
    text-align: center;
  }
  
  #seccion1 {
    background-color: var(--nord10);
    border-radius: 10px;
    padding: 5%;
    width: auto;
    height: auto;
    margin-right: 10px;

    border-style: solid;
    border-color: var(--nord14);
  }
  
  #seccion2 {
    background-color: var(--nord10);
    padding: 1%;
    width: 30%;
    height: 20%;
    border-radius: 10px;

    border-style: solid;
    border-color: var(--nord14);
  }
  
  #seccion3 {
    background-color: var(--nord10);
    padding: 1%;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    margin-left: 10px;

    border-style: solid;
    border-color: var(--nord14);
  }
  
  #seccion4 {
    background-color: var(--nord10);
    padding: 1%;
    width: auto;
    height: 5%;
    border-radius: 10px;
    margin-left: 10px;

    border-style: solid;
    border-color: var(--nord14);
  }
  
  ul {
    font-size: large;
  }
  
  dl {
    font-size: large;
  }
  
  img {
    border-radius: 25px;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-right: 16px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
  
  #icon1 {
    border-radius: 25px;
    width: 20px;
    height: 20px;
    /*margin-top: 25px;*/
    margin-right: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }